<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBCloning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="DBCloning.DBCloneService">
        <endpoint address="" binding="wsHttpBinding" contract="Apprenda.SaaSGrid.Extensions.IDeveloperPortalExtensionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/DBCloneService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
                    set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
                    set the value below to true.  Set to false before deployment 
                    to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <DBCloning.Properties.Settings>
      <setting name="PathBasedHost" serializeAs="String">
        <value>app</value>
      </setting>
      <setting name="CloudHost" serializeAs="String">
        <value>devops.lab.com</value>
      </setting>
      <setting name="SnapPlugin" serializeAs="String">
        <value>MySQL</value>
      </setting>
      <setting name="SnapCenterUrl" serializeAs="String">
        <value>https://10.192.39.22:8146</value>
      </setting>
      <setting name="SnapCenterAdmin" serializeAs="String">
        <value>LAB\\Administrator</value>
      </setting>
      <setting name="SnapCenterPassword" serializeAs="String">
        <value>Netapp!2</value>
      </setting>
      <setting name="SnapDBName" serializeAs="String">
        <value>apprendadb</value>
      </setting>
      <setting name="SnapDBHost" serializeAs="String">
        <value>app-linux2.lab.com</value>
      </setting>
      <setting name="SnapPolicy" serializeAs="String">
        <value>mysql_ondemand</value>
      </setting>
      <setting name="SnapMountScript" serializeAs="String">
        <value>/var/lib/start-mysql.sh</value>
      </setting>
      <setting name="SnapDataLeafIP" serializeAs="String">
        <value>10.192.39.71</value>
      </setting>
      <setting name="SnapMountPath" serializeAs="String">
        <value>/var/lib/mysql2</value>
      </setting>
      <setting name="SnapDBCloneHost" serializeAs="String">
        <value>app-linux1.lab.com</value>
      </setting>
    </DBCloning.Properties.Settings>
  </userSettings>
</configuration>
