<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBCloning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="DBCloning.DBCloneService">
        <endpoint address="" binding="wsHttpBinding" contract="Apprenda.SaaSGrid.Extensions.IDeveloperPortalExtensionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/DBCloneService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
                    set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
                    set the value below to true.  Set to false before deployment 
                    to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <DBCloning.Properties.Settings>
      <setting name="PathBasedHost" serializeAs="String">
        <!--Apprenda Local Configuration-->
                <value>apps</value>
                <!--End Apprenda Local Configuration-->
                <!--Apprenda Live Configuration <value>$#PATHBASEDHOST#$</value> End Apprenda Live Configuration-->
      </setting>
      <setting name="CloudHost" serializeAs="String">
        <!--Apprenda Local Configuration-->
                <value>devops.lab.com</value>
                <!--End Apprenda Local Configuration-->
                <!--Apprenda Live Configuration <value>$#CLOUDHOST#$</value> End Apprenda Live Configuration-->
      </setting>
    </DBCloning.Properties.Settings>
  </userSettings>
</configuration>
